/* public/css/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the html and body take up full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Style for the main container */
.min-h-screen {
    min-height: 100vh; /* This ensures it's at least the full viewport height */
    display: flex;
    flex-direction: column;
}

/* Style for the white div part */
.bg-white {
    flex-grow: 1; /* This allows the white div to grow and take up remaining space */
    /* display: flex; */
    /* flex-direction: column; */
    margin-bottom: 3rem;

}

/* Existing styles for headings */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
    
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #444;
    margin-top: 2rem;

    margin-bottom: 0.75rem;
    text-align: center;

}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 0.5rem;
}

/* Style for the login link */
.login-link {
    color: #10B981;
    font-weight: bold;
}

.custom-nav-height{
    height: 2rem !important; /* 2rem is equivalent to h-8 in Tailwind */
}